<header>
    <h3 class="retro shade">
        Почтампт
    </h3>
</header>
<div class="content">
    <form action="#yellow" method="post" class="rr-contact-form" novalidate="novalidate">
        <section>
            <label for="email">Email</label>
            <div class="field{{ errors['email'] ? ' error' : '' }}">
                {{ _self.field_error(errors, 'email') }}
                <input 
                    type="text" 
                    name="email" 
                    id="email" 
                    maxlength="100" 
                    value="{{ data['email']|default('') }}" 
                    placeholder="Тут Ваш email..."
                />
            </div>
        </section>
        <section>
            <label for="name">От кого? *</label>
            <div class="field{{ errors['name'] ? ' error' : '' }}">
                {{ _self.field_error(errors, 'name') }}
                <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    maxlength="100" 
                    value="{{ data['name']|default('') }}" 
                    placeholder="Тут Ваше имя..."
                />
            </div>
        </section>
        <section class="textarea">
            <label for="feedback">Что передать? *</label>
            <div class="field{{ errors['feedback'] ? ' error' : '' }}">
                {{ _self.field_error(errors, 'feedback') }}
                <textarea 
                    name="feedback" 
                    id="feedback" 
                    maxlength="6000"
                    placeholder="Тут все что хочется..."
                >{{ data['feedback']|default('') }}</textarea>
            </div>
        </section>
        <section class="controls">
            <button class="btn-submit green" type="submit">Отправить</button>
        </section>
    </form>
</div>

{% macro field_error(errors, fieldName) %}
    {% set translations = {
            'email_limit_min_error': 'Коротковат email! Хотя бы пять символов.',
            'email_limit_max_error': 'Слишком много! Не больше ста символов.!',
            'email_format_error': 'Не совсем валидный email! Поправить бы..',
            'feedback_limit_min_error': 'Ну хотя бы пять буковок осильте!',
            'feedback_limit_max_error': 'Слишком много! Прочту не более 6000 симфолов =)',
            'name_limit_min_error': 'Имя одной буквой? Серьезно?',
            'name_limit_max_error': 'Слишком много! 100 символов максимум.',
            'required_field': 'Без этого поля не отправлюсь.'
    } %}
    {% if errors[fieldName] %}        
        <div class="errors">
            {% for error in errors[fieldName] %}
                <p class="error">{{ translations[error]|default(error) }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}