{% spaceless %}
<!-- Animate shadow jquery plugin  -->
<script src="/app/public/js/jquery.animate-shadow-min.js" type="text/javascript"></script>

<!-- Fotorama jquery plugin for gallery -->
<script src="/app/public/components/fotorama/fotorama.js" type="text/javascript"></script>

<script>
    $(function() {
        // var menuMain = new RR.menuDropdown('.rr-top-menu .dropdown > a');
        // menuMain.init();

        // var smiles = new RR.smileSingleRotate('span.smile');
        // smiles.init();

        var scroller = new RR.pageScroller();
        scroller.init();

        $('#rr-gallery').fotorama();

        var flasher = new RR.flasher();

        {% for rainbowSection in ['red', 'orange', 'yellow', 'green', 'blue', 'blue-dark', 'purple'] %}
            {% for noticeLevel in ['success', 'error', 'warning', 'info'] %}
                {% for message in request.session.flashbag.get('rr.' ~ rainbowSection ~ '.' ~ noticeLevel) %}
                    flasher.addMessage('{{ rainbowSection }}' ,'{{ noticeLevel }}', '{{ message }}');
                {% endfor %}
            {% endfor %}
        {% endfor %}

        flasher.init();
    });
</script>

<section class="rr-content">
    <div id="rr-flash-notice-prototype" class="rr-flash-notice" style="display: none;">
        {# Flash message here #}
        <a class="rr-icon remove-circle dismiss" data-dismiss="rr-flash-notice"></a>
    </div>

    <div id="red" class="rainbow-section">
        <div class="section-content">
            <p class="content">
                <img class="rr-promo" src="app/public/images/main/ratty_velvet_bless.png" title="RR" width="170px">
            </p>
            <header>
                <h3 class="retro shade">
                    Рады вас видеть! Но не всех
                </h3>
            </header>
        </div>
    </div>
    <div id="purple" class="rainbow-section purple full">
        <div class="section-content">
            {{ render('Home:Home:galleryBlock') }}
        </div>
    </div>
    <hr>
    <div class="rainbow-section breaker">
    </div>
    <hr>
    <div id="orange" class="rainbow-section purple">
        <div class="section-content">
            {{ include('about.html.twig') }}
        </div>
    </div>
    {# <div id="yellow" class="rainbow-section yellow email">
        <div class="section-content">
        </div>
    </div> #}
    <div id="green" class="rainbow-section purple">
        <div class="section-content">
            {{ render('Home:Home:mailBlock') }}
        </div>
    </div>
    {# <div id="blue" class="rainbow-section blue">
        <div class="section-content">
        </div>
    </div>
    <div id="blue-dark" class="rainbow-section blue-dark">
        <div class="section-content">
        </div>
    </div> #}
</section>

<footer class="rr-footer">
    <div class="copyright">
        <small>
            <a href="#red" class="red rr-scroller">v</a>
            <a href="#orange" class="orange rr-scroller">a</a>
            <a href="#yellow" class="yellow rr-scroller">r</a>
            <a href="#green" class="green rr-scroller">l</a>
            <a href="#blue" class="blue rr-scroller">o</a>
            <a href="#blue-dark" class="blue-dark rr-scroller">c</a>
            <a href="#purple" class="number purple rr-scroller">2000</a> (2013 - {{ 'now'|date('Y') }}) &copy;
        </small>
    </div>
</footer>
{% endspaceless %}