{% spaceless %}
    <div id="first" class="rr-section">
        <div class="rr-section-content text-center">
            <p class="content">
                <img class="rr-promo" src="app/public/images/main/ratty_velvet_bless.png" title="RR" width="230px">
                {# <img class="rr-promo" src="app/public/images/logo/logo 2.svg" title="RR" width="280px"> #}
            </p>
            <header>
                <h3>
                    {# Рады Вас видеть! Но не всех. #}
                </h3>
            </header>
        </div>
    </div>

    {% include('_navbar.html.twig') %}

    <div id="second" class="rr-section">
        <div class="rr-section-content">
            {{ render('Home:Home:recordsBlock') }}
        </div>
    </div>

    <div class="rr-section separator separator-one">
        <div class="rr-section-content">
            {% include('_block_about.html.twig') %}
        </div>
    </div>

    <div id="playlist" class="rr-section">
        <div class="rr-section-content">
            {{ render('Home:Home:playlistBlock') }}
        </div>
    </div>

    <div class="rr-section separator separator-two">
        <div class="rr-section-content">
            {% include('_block_about_two.html.twig') %}
        </div>
    </div>

    <div id="fourth" class="rr-section">
        <div class="rr-section-content">
            {{ render('Home:Home:galleryBlock') }}
        </div>
    </div>

    <div id="fifth" class="rr-section">
        <div class="rr-section-content">
            {{ render('Home:Home:mailBlock') }}
        </div>
    </div>

    {% include('_footer.html.twig') %}

    {# Hidden flashes prototype #}
    <div id="rr-flash-notice-prototype" class="rr-flash-notice" style="display: none;">
        {# Flash message here #}
        <a class="rr-icon remove-circle dismiss" data-dismiss="rr-flash-notice"></a>
    </div>
    {# End Hidden flashes prototype #}

    <script src="/app/public/js/smooth_scroll.js" type="text/javascript"></script>
    <script src="/app/public/components/fotorama/fotorama.js" type="text/javascript"></script>
    <script src="/app/public/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        $(function() {
            var scroller = new RR.pageScroller();

            $('#rr-gallery').fotorama();

            var flasher = new RR.flasher();

            {% for rainbowSection in ['red', 'orange', 'yellow', 'green', 'blue', 'blue-dark', 'purple'] %}
                {% for noticeLevel in ['success', 'error', 'warning', 'info'] %}
                    {% for message in request.session.flashbag.get('rr.' ~ rainbowSection ~ '.' ~ noticeLevel) %}
                        flasher.addMessage('{{ rainbowSection }}' ,'{{ noticeLevel }}', '{{ message }}');
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            flasher.init();
        });
    </script>
{% endspaceless %}