<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>{{ "Rats Records | %s"|format(page_title|default("Welcome")) }}</title>
        {% endblock title %}

        {% block meta %}
            <meta http-equiv="Content-Style-Type" content="text/css">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% endblock meta %}

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/app/public/css/style.css" />
            <link rel="stylesheet" type="text/css" href="/app/public/css/loading_stage.css" />
            <link rel="stylesheet" type="text/css" href="/app/public/css/smile_rotation.css" />
            <link rel="stylesheet" type="text/css" href="/app/public/css/menu_items_rotation.css" />
            <link rel="stylesheet" type="text/css" href="/app/public/vendor/fotorama-4.4.9/fotorama.css" />
            <link rel="stylesheet" type="text/css" href="/app/public/css/normalize.css" />
            <!-- <link rel="stylesheet" type="text/css" href="/app/public/css/lights.css" /> -->

            {% set circlePlayerCssPath = '/app/public/vendor/circleplayer-master/circle.skin/' %}
            <link rel="stylesheet" type="text/css" href="{{ circlePlayerCssPath }}circle.player.css" />
        {% endblock stylesheets %}

        {% block javascripts %}
            <!-- jQuery -->
            <script src="/app/public/js/jquery.min.js" type="text/javascript"></script>

            <!-- Animate shadow jquery plugin  -->
            <script src="/app/public/js/jquery.animate-shadow-min.js" type="text/javascript"></script>

            <!-- Fotorama jquery plugin for gallery -->
            <script src="/app/public/vendor/fotorama-4.4.9/fotorama.js" type="text/javascript"></script>

            <!-- Audio player jquery plugin and stuff for it -->
            {% set circlePlayerJsPath = '/app/public/vendor/circleplayer-master/js/' %}
            <script src="{{ circlePlayerJsPath }}jquery.jplayer.js" type="text/javascript"></script>
            <script src="{{ circlePlayerJsPath }}jquery.transform2d.js" type="text/javascript"></script>
            <script src="{{ circlePlayerJsPath }}jquery.grab.js" type="text/javascript"></script>
            <script src="{{ circlePlayerJsPath }}mod.csstransforms.min.js" type="text/javascript"></script>
            <script src="{{ circlePlayerJsPath }}circle.player.js" type="text/javascript"></script>

            <!-- Project scripts -->
            <script src="/app/public/js/utils.js" type="text/javascript"></script>
            <script src="/app/public/js/script.js" type="text/javascript"></script>
            <script>
                $(function() {
                    // $('.rr-loading-stage').fadeOut(100);

                    var rrCirclePlayer = new CirclePlayer("#rr-player",
                    {
                        oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
                    }, {
                        cssSelectorAncestor: "#rr-player-container",
                        swfPath: "../js",
                        // swfPath: "/app/public/vendor/jQuery.jPlayer.2.5.0/jplayer.swf",
                        wmode: "window",
                        keyEnabled: true
                    });

                    var menuMain = new RR.menuDropdown('.rr-top-menu .dropdown > a');
                    menuMain.init();

                    var smiles = new RR.smileSingleRotate('span.smile');
                    smiles.init();

                    var scroller = new RR.pageScroller();
                    scroller.init();

                    $('#rr-gallery').fotorama();

                    var flasher = new RR.flasher();

                    {% for rainbowSection in ['red', 'orange', 'yellow', 'green', 'blue', 'blue-dark', 'purple'] %}
                        {% for noticeLevel in ['success', 'error', 'warning', 'info'] %}
                            {% for message in request.session.flashbag.get('rr.' ~ rainbowSection ~ '.' ~ noticeLevel) %}
                                flasher.addMessage('{{ rainbowSection }}' ,'{{ noticeLevel }}', '{{ message }}');
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}

                    flasher.init();
                });
            </script>
        {% endblock javascripts %}
    </head>
    <body>
        <!-- <div class="rr-loading-stage">
            <div class="spotlights">
                <div class="spotlight light1"></div>
                <div class="spotlight light2"></div>
                <div class="spotlight light3"></div>
                <div class="conc-group">
                    <div class="conc light1-conc"></div>
                    <div class="conc light2-conc"></div>
                    <div class="conc light3-conc"></div>
                </div>
            </div>
            <div class="rr-welcome">Rats Records</div>
            <div class="rr-loading-message">Loading...</div>
            {#{ include('lights.html.twig') }#}
        </div> -->
        <div class="rr-container">
            <header class="rr-header">
                <div class="stick">
                    <div class="rr-logo">
                        <a href="/">
                            <span></span>
                            {# Here logo with css #}
                        </a>
                    </div>
                    {% block main_menu %}
                        {{ render('Home:Home:menuBlock') }}
                    {% endblock main_menu %}
                </div>
                {% block introduction %}
                    <div class="rr-main-info">
                        <pre><span class="capital-small">Д</span>обро пожаловать <span class="capital-small">!</span> <span class="capital-small">С</span>айт в процессе   с  о    з    д      а        а          а           а  .  .  .</pre>
                        <pre> .  .  .   И  всегда будет  !</pre>
                        <p>
                            <span class="capital-small">З</span>десь можно найти :  _что думаем _что делаем _редкую хронику _выпить _смысл жизни _повод для критики
                            <br>
                            <span class="capital-small">Т</span>ут нельзя найти : _трезвенников _потраченное зря время _идиотов
                        </p>
                    </div>
                {% endblock introduction %}
            </header>
            <section class="rr-content">
                <div id="rr-flash-notice-prototype" class="rr-flash-notice" style="display: none;">
                    {# Flash message here #}
                    <a class="rr-icon remove-circle dismiss" data-dismiss="rr-flash-notice"></a>
                </div>
                {% block content %}{% endblock content %}
            </section>
            <footer class="rr-footer">
                <div class="copyright">
                    <small>
                        <a href="#red" class="red rr-scroller">v</a>
                        <a href="#orange" class="orange rr-scroller">a</a>
                        <a href="#yellow" class="yellow rr-scroller">r</a>
                        <a href="#green" class="green rr-scroller">l</a>
                        <a href="#blue" class="blue rr-scroller">o</a>
                        <a href="#blue-dark" class="blue-dark rr-scroller">c</a>
                        <a href="#purple" class="number purple rr-scroller">2000</a> (2013 - {{ 'now'|date('Y') }}) &copy;</small>
                </div>
            </footer>
        </div>

        {% block javascripts_bottom %}
            {% if local == false %}
                <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-40140733-1']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                </script>
            {% endif %}
        {% endblock javascripts_bottom %}
    </body>
</html>